
/* CONTENT
***********************************************************************************
***********************************************************************************
- variables
- global
- cover
- example code
- main
- media
    - mobile
    - desktop
***********************************************************************************/
/* variables
***********************************************************************************/
:root{
    --primary-color: #009655;
    --secondary-color: #ee7016
}
/* global
***********************************************************************************/
.container{
    max-width: 960px;
}
h1,h2, h3{
    font-weight: lighter;
    border: 0;
}
a{
    color: var(--primary-color);
}
/* cover
***********************************************************************************/
.cover{
    padding: 10px 20px 150px;
    background: var(--primary-color) url(../images/cover5.jpg) no-repeat top center ;
    background-size: cover;
    text-align: center;
}
.cover h1,
.cover h2{
    color: #000;
}
.cover h1{
    font-size: 6rem;
    margin: 200px 0 0;
}
.cover h2{
    font-size: 1.22rem;
    margin: 10px 0 50px;
}
.cover a{
    color: #212529;
}
.cover a:hover{
    color: #212529;
}
.github-link{
    height: 24px;
    padding-left: 30px;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg id='Bold' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Edeveloper-community-github-1%3C/title%3E%3Cpath fill='%23212529' d='M12,.28A12,12,0,0,0,8.28,23.69l.29,0a1,1,0,0,0,1.06-1.06v-.21c0-.17,0-.4,0-1.09A.5.5,0,0,0,9.43,21a.5.5,0,0,0-.42-.1c-2.68.58-3.25-1.1-3.29-1.21A4.64,4.64,0,0,0,4,17.5a1.16,1.16,0,0,0-.15-.11.63.63,0,0,1,.38-.07,1.47,1.47,0,0,1,1.15.88,3,3,0,0,0,4,1.16A.5.5,0,0,0,9.67,19a2,2,0,0,1,.56-1.23.5.5,0,0,0-.27-.87c-2.37-.27-4.79-1.1-4.79-5.19A4,4,0,0,1,6.22,8.93a.5.5,0,0,0,.09-.53A3.52,3.52,0,0,1,6.32,6,5.54,5.54,0,0,1,8.84,7.15a.49.49,0,0,0,.42.07A10.61,10.61,0,0,1,12,6.85a10.47,10.47,0,0,1,2.75.37.49.49,0,0,0,.41-.07A5.59,5.59,0,0,1,17.68,6a3.57,3.57,0,0,1,0,2.38.5.5,0,0,0,.09.53,4,4,0,0,1,1.05,2.75c0,4.09-2.43,4.91-4.81,5.18a.5.5,0,0,0-.27.88,2.2,2.2,0,0,1,.61,1.74v3.18a1.06,1.06,0,0,0,.36.83,1.2,1.2,0,0,0,1.06.19A12,12,0,0,0,12,.28Z'/%3E%3C/svg%3E");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    float: right;
}
.documentation-link{
    float: left;
    clear: left;
}
/* fix tabs opacity */
.fade:not(.show){
    opacity: 1;
}

/* example code
***********************************************************************************/
.example-code{
    width: 100%;
    max-width: 680px;
    margin: 20px auto 0;
}
/* tabs */
.nav-tabs{
    border-bottom: 0;
}
.nav-tabs a{
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    background-color: #3c4146;
}
.nav-tabs a:hover{
    color: #fff;
    text-decoration: underline;
}
.nav-tabs a.active{
    background: #26292c;
}
pre, pre[class*="language-"]{
    margin-top: 0;
    background: #26292c;
}
.tab-content a{
    text-decoration: underline;
}
.tab-content a:hover{
    text-decoration: none;
}
/* main
***********************************************************************************/
main{
    padding: 50px 0;
}
main h2,
main h3{
    color: var(--primary-color);
    /* color: var(--body-color); */
}
main h2{
    font-size: 3rem;
    margin: 0 0 20px;
}
main a{
    text-decoration: underline;
}
main a:hover{
    text-decoration: none;
}
.chapter:not(:first-child){
    padding-top: 50px;
    margin-top: 50px;
}
.features {
    padding-top: 50px;
}
.features .row{
    margin-bottom: 30px;
}
.features img{
    width: 100px;
    margin-bottom: 20px;
}
.features h3{
    color: var(--secondary-color)
}
.features{
    text-align: center;
}
.features .row:first-child{
    margin-bottom: 50px;
}
 .features h3,
.features p{
    text-align: left;
} 
.card-content{
    background: #eee; 
    padding: 15px; 
    border-radius: 5px;
    height: 100%;
}
.news ul{
    list-style: none;
    padding: 0;
}
.news li{
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0;
    margin-bottom: 0.5rem;
}
.news a{
    color: var(--body-color);
    text-decoration: none;
    display: inherit;
}
.news a:hover{
    background: #efefef;
}
.news-body{
    padding: 1rem;
}
.news-header{
    margin: 5px;
    padding: 2px 5px;
    border: 0;
    text-align: right;
    float: right;
    font-style: italic;
    font-size: 0.6rem;
    background: #c4c4c4;
    border-radius: 5px;
}
h5.news-title{
    font-size: 0.95rem;
    color: var(--primary-color);
    font-weight: normal;
    line-height: 1.5rem;
    margin-bottom: 5px;
}
.news p:last-child{
    margin-bottom: 0;
}
/* Media
***********************************************************************************/